Source: sisiyad
Section: utils
Priority: optional
Maintainer: Erdal Mutlu <erdal@sisiya.org>
Build-Depends: autoconf, debhelper, automake, libmysqlclient-dev, libpq-dev
Standards-Version: 3.9.3

Package: sisiyad
Architecture: any
Depends: sisiya-edbc-libs, ${shlibs:Depends}, ${misc:Depends}
Description: SisIYA daemon is a program which receives 
 incoming SisIYA messages and records them in a database system.
