#!/usr/bin/make -f

package=sisiyad

# Function to check if we're in the correct dir
define checkdir
	@test -f debian/rules -a -f src/DriverManager.cpp || \
	(echo Not in correct source directory; exit 1)
endef

# Function to check if we're root
define checkroot
	@test $$(id -u) = 0 || (echo need root priviledges; exit 1)
endef

# Top directory of the source code
SRCTOP    := $(shell if [ "$$PWD" != "" ]; then echo $$PWD; else pwd; fi)
# Destination directory where files will be installed
DESTDIR = $(SRCTOP)/debian/$(package)

# Definition of directories
BIN_DIR = $(DESTDIR)/usr/bin
SHARE_DIR = $(DESTDIR)/usr/share/$(package)
DOCS_DIR = $(DESTDIR)/usr/share/doc/$(package)
MAN_DIR = $(DESTDIR)/usr/share/man/man1

# Stamp Rules
#
configure-stamp:
	$(checkdir)
#./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
	./bootstrap create
	./configure --prefix=
	touch configure-stamp

build-stamp: configure-stamp
	$(checkdir)
	-rm -f build-stamp
	$(MAKE)
	touch build-stamp

# Debian rules

build: build-stamp

clean: configure-stamp
	$(checkdir)
	-rm -f *-stamp
	$(MAKE) distclean
	-rm -rf debian/$(package)
	-rm -f debian/files
	-rm -f debian/substvars

binary-indep: build

# Definitions for install
INST_OWN = -o root -g root
MAKE_DIR  = install -p -d $(INST_OWN) -m 755
INST_FILE = install -c    $(INST_OWN) -m 644
INST_PROG = install -c    $(INST_OWN) -m 755 -s
INST_SCRIPT = install -c  $(INST_OWN) -m 755

binary-arch: build
	$(checkdir)
	$(checkroot)

	# Install Program
	#$(MAKE) install DESTDIR=$(DESTDIR) LIBTOOL=libtool
	$(MAKE) install DESTDIR=$(DESTDIR) 

	# Install Program Resources
	#$(MAKE_DIR) $(SHARE_DIR)
	#$(INST_FILE) road.bmp $(SHARE_DIR)
	
	$(MAKE_DIR) $(DESTDIR)/DEBIAN

	# Install Docs
	$(MAKE_DIR) $(DOCS_DIR)
	$(INST_FILE) debian/copyright $(DOCS_DIR)/copyright
	$(INST_FILE) debian/changelog $(DOCS_DIR)/changelog.Debian
	$(INST_FILE) README $(DOCS_DIR)/README

	# Install Package Scripts
	$(INST_SCRIPT) debian/postinst $(DESTDIR)/DEBIAN
	#$(INST_SCRIPT) debian/postrm $(DESTDIR)/DEBIAN

	# Compress Docs
	gzip -9 $(DOCS_DIR)/changelog.Debian

	# Strip
	strip $(DESTDIR)/usr/sbin/sisiyad

        # Work out the shared library dependancies
	dpkg-shlibdeps $(package)

	# Generate the control file
	dpkg-gencontrol -isp -P$(DESTDIR)

        # Make DEBIAN/md5sums
	cd $(DESTDIR) && find . -type f ! -regex '.*DEBIAN/.*' -printf '%P\0' | xargs -r0 md5sum > DEBIAN/md5sums

	# Create the .deb package 
	dpkg-deb -b $(DESTDIR) ../

binary: binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean build
