Source: sisiya-webui-images
Section: web
Priority: optional
Maintainer: Erdal Mutlu <erdal@sisiya.org>
Homepage: http://www.sisiya.org
Build-Depends: debhelper, make
Standards-Version: 3.9.3

Package: sisiya-webui-images
Architecture: all
Depends: ${misc:Depends}
Recommends: 
Description: Image collection for SisIYA web GUI. 
 These images are used for assigning to systems. 
 These are mostly images of various hardware.
