Source: sisiya-edbc-libs
Section: utils
Priority: optional
Maintainer: Erdal Mutlu <erdal@sisiya.org>
Build-Depends: autoconf, g++, make, libmysqlclient-dev, libpq-dev
Standards-Version: 3.6.1

Package: sisiya-edbc-libs
Architecture: any
Description: This package contains the SisIYA EDBC headers and libraries.
