###############################################################################################################################################
print_and_exit "$FS" "$service_name" $statusid "$message_str" "$data_message_str"
###############################################################################################################################################
