### Number of DBs
SISIYACheckDB.dbtypes_count=3
#####################################################################
SISIYACheckDB.dbtype0_count=1
SISIYACheckDB.dbtype0_type=postgresql
SISIYACheckDB.dbtype0_serviceid=8
SISIYACheckDB.dbtype0_serviceid_name=serviceid_postgresql
SISIYACheckDB.dbtype0_jdbc_driver=org.postgresql.Driver
##
SISIYACheckDB.dbtype0_name_0=db_name
SISIYACheckDB.dbtype0_user_0=db_user_name
SISIYACheckDB.dbtype0_password_0=db_password
#####################################################################
SISIYACheckDB.dbtype1_count=1
SISIYACheckDB.dbtype1_type=oracle
SISIYACheckDB.dbtype0_serviceid=10
SISIYACheckDB.dbtype1_serviceid_name=serviceid_oracle
SISIYACheckDB.dbtype1_jdbc_driver=oracle.jdbc.driver.OracleDriver
##
SISIYACheckDB.dbtype1_jdbc_url_0=jdbc:oracle:thin:@dbserver1.example.org:1521:EXAMPLE
SISIYACheckDB.dbtype1_name_0=db_name
SISIYACheckDB.dbtype1_user_0=db_user_name
SISIYACheckDB.dbtype1_password_0=db_password
#####################################################################
SISIYACheckDB.dbtype2_count=2
SISIYACheckDB.dbtype2_type=mysql
SISIYACheckDB.dbtype0_serviceid=9
SISIYACheckDB.dbtype2_serviceid_name=serviceid_mysql
SISIYACheckDB.dbtype2_jdbc_driver=org.gjt.mm.mysql.Driver
##
SISIYACheckDB.dbtype2_name_0=db_name
SISIYACheckDB.dbtype2_user_0=db_user_name
SISIYACheckDB.dbtype2_password_0=db_password
##
SISIYACheckDB.dbtype2_name_1=db_name
SISIYACheckDB.dbtype2_user_1=db_user_name
SISIYACheckDB.dbtype2_password_1=db_password
#####################################################################
